<p class="btn btn-success"><%= link_to "Add cocktail", new_cocktail_path%></p>
<h1>Drinks</h1>


<% @cocktails.each do |cocktail| %>

  <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>

  
<% end %>

