<p class="btn btn-success"><%= link_to "Add cocktail", new_cocktail_path%></p>
<%= cl_image_tag("znwfkfgehsoqomo4wzgk",
      width: 400, height: 300, crop: :fill) %>
<h1>Drinks</h1>


<% @cocktails.each do |cocktail| %>

  <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>

  
<% end %>

