
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lh3.googleusercontent.com/my0SIADCUrqKLWnUk85Lh1u0-kYKm4b3X5MsdUDBHvnCFHg-fizcquSY0aoOFTkrVLSXKw=s170);">
   <div class="container">
    <h1>Have a <strong>drink</strong>?</h1>
    <p class="btn btn-flat"><%= link_to "Choose a cocktail", cocktails_path%></p>
  </div>
</div>

